@keyframes slidein {
  from {
    // top: 100%;
    opacity: 0;
  }

  to {
    // top: 50% + 3rem;
    opacity: 1;
  }
}

@keyframes darkenOverlay {
  from {
    background-color: rgba(black, 0);
  }

  to {
    background-color: rgba(black, .3);
  }
}

.modal {
  &__content {
    animation-duration: 300ms;
    animation-name: slidein;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $ground-brown;
    outline: none;
    padding: 20px;
    font-size: 3rem;
    color: $sky-blue;

    width: 80rem;
    border-radius: 3rem;
    border-style: solid;
    border-color:$sky-blue;
    margin: 3rem;
    padding: 2rem;
    
  }

  &__overlay {
    background-color: rgba(black, .3);
    animation-duration: 300ms;
    animation-name: darkenOverlay;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
  }

  &__logo {
    float: left;
    margin: 1rem;
  }
}