.card {
  width: 50rem;
  border-radius: 3rem;
  border-style: solid;
  border-color:$sky-blue;
  display: flex;
  margin: 3rem;
  padding: 2rem;
  transition: transform 300ms;
  backface-visibility: hidden;

  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  &__content {
    width: 20rem;
   }
  &__title {
    color: $sky-blue;
    font-size: 3rem;
  }

  &__description {
    color: $sky-blue;
    font-size: 2rem;
  }

  &__logo {
    width: 5rem;
    height: 5rem;
  }
}